@model MSOCore.Reports.PentamindStandingsGenerator.PentamindStandingsReportVm
@{
    if (Model.HeaderRequired)
    { Layout = "~/Views/Shared/_NewLayout.cshtml"; }
    else
    { Layout = "~/Views/Shared/_NewLayoutNoHeader.cshtml"; }
    TempData["AutoRefresh"] = true;
}

@if (Model.HeaderRequired)
{
    <h1>Chess Championship Standings</h1>
    <p>All standings are provisional until formally announced at the closing ceremony. Any data errors <b>must</b> be reported before midnight, end of Tuesday 7th to ensure correction</p>
}

@{ var i = 1; }

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td><span>Name</span></td>
            <td><span>Score</span></td>
            <td colspan="5"><span>Individual events</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopNStandings)
        {
        <tr>
            <th scope="row">@i</th>
            <td><img src="@item.Flag" title="@item.Nationality" height="20" style="margin-right: 4px" /></td>
            <td><span>@item.Name</span></td>
            <td style="width: 100px;"><span>@item.TotalScoreStr</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(0)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(1)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(2)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(3)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(4)</span></td>
        </tr>

            i++;
        }
    </tbody>
</table>

<h3>Top @Model.TopNRequired listed. Competitors need 5 events to qualify.</h3>
