@model MSOCore.Reports.ContestantMedalsGenerator.ContestantVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .jmhTable {
        border: 1px black solid; 
        width: 400px; 
        margin-left: 100px
    }
    .jmhTable td {
        vertical-align: middle;
    }
    .jmhPaddedHeader {
        margin: 4px;
        display: block;
    }
    .jmhPadded {
        margin: 4px;
        display: block;
    }
</style>


<h1 class="entry-title">All time record: @Model.Name
    <img src="@Model.Flag" alt="@Model.Nationality" title="@Model.Nationality"/>
</h1>

@if (Model.HasTitles())
{
<h1 class="entry-title">Titles:</h1>
}
@if (Model.Grandmasters.Any())
{
<p><b>Grandmaster</b></p>
<ul>
    @foreach (var code in Model.Grandmasters)
    {
    <li>@code</li>
    }
</ul>
}
@if (Model.InternationalMasters.Any())
{
<p><b>International Master</b></p>
<ul>
    @foreach (var code in Model.InternationalMasters)
    {
    <li>@code</li>
    }
</ul>
}
@if (Model.CandidateMasters.Any())
{
<p><b>Candidate Master</b></p>
<ul>
    @foreach (var code in Model.CandidateMasters)
    {
    <li>@code</li>
    }
</ul>
}

<h1 class="entry-title">Medals:</h1>
<p><b>Gold: @Model.Golds, Silver: @Model.Silvers, Bronze: @Model.Bronzes</b></p>
<ul>
    @foreach (var medal in Model.Medals)
    {
    <li>@medal.Name: @medal.Medal (@medal.Year)</li>
    }
</ul>
