@model IEnumerable<MSOCore.Reports.MedalTableReportGenerator.MedalTableVm>
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Medal Table by country: current year</h1>

<table class="table">
    <thead>
        <tr>
            <td><span>Country</span></td>
            <td><span>Medals</span></td>
            <td><span></span></td>
            <td><span>Junior Medals</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.Flag" height="30" style="margin-right: 4px" /><span><b>@item.Nationality</b></span></td>
            <td>
                @if (item.Golds > 0)
                {
                    <span class="btn gold" style="width:48px;">@item.Golds</span>
                }
                @if (item.Silvers > 0)
                {
                    <span class="btn silver" style="width:48px;">@item.Silvers</span>
                }
                @if (item.Bronzes > 0)
                {
                    <span class="btn bronze" style="width:48px;">@item.Bronzes</span>
                }
                </td>
            <td><span style="width: 10%;"></span></td>
            <td>
                @if (item.JnrGolds > 0)
                {
                    <span class="btn gold" style="width:48px;">@item.JnrGolds</span>
                }
                @if (item.JnrSilvers > 0)
                {
                    <span class="btn silver" style="width:48px;">@item.JnrSilvers</span>
                }
                @if (item.JnrBronzes > 0)
                {
                    <span class="btn bronze" style="width:48px;">@item.JnrBronzes</span>
                }
                </td>
        </tr>
}
    </tbody>
</table>

