@using MSOCore.Extensions;
@model MSOCore.Reports.EventResultsGenerator.EventResultsVm
@{
    Layout = "~/Views/Shared/_NewLayoutNoHeader.cshtml";
    TempData["AutoRefresh"] = true;
}

<h2 class="entry-title">Full results for @Model.Year @Model.EventName (@Model.EventCode)</h2>

<table class="table">
    <thead>
        <tr>
            <td>Position</td>
            <td>Medal</td>
            <td>Score</td>
            <td>@Model.PointsType</td>
            <td>Name</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrant in Model.Entrants)
        {
            <tr>
                <td>@entrant.Rank.ToString().Ordinal()</td>
                <td>
                    @if (entrant.Medal == "Gold")
                    {
                        <span class="btn gold" style="width:48px;">G</span>
                    }
                    @if (entrant.Medal == "Silver")
                    {
                        <span class="btn silver" style="width:48px;">S</span>
                    }
                    @if (entrant.Medal == "Bronze")
                    {
                        <span class="btn bronze" style="width:48px;">B</span>
                    }
                    @if (entrant.JuniorMedal.Contains("Gold"))
                    {
                        <span class="btn gold" style="width:48px;">JNR</span>
                    }
                    @if (entrant.JuniorMedal.Contains("Silver"))
                    {
                        <span class="btn silver" style="width:48px;">JNR</span>
                    }
                    @if (entrant.JuniorMedal.Contains("Bronze"))
                    {
                        <span class="btn bronze" style="width:48px;">JNR</span>
                    }
                </td>
                <td>@entrant.Score</td>
                <td>@entrant.PentaScore.ToString("0.00")</td>
                <td><a href="./ContestantMedals?contestantId=@entrant.ContestantId">@entrant.Name</a></td>
                <td><img src="@entrant.Flag" style="width: 52px" alt="@entrant.Nationality" title="@entrant.Nationality" /></td>
            </tr>
        }

        @if (!Model.Entrants.Any())
        {
            <tr>
                <td colspan="6">Results will be published here as soon as they have been verified by the Arbiters</td>
            </tr>
        }
    </tbody>
</table>

