@model MSOCore.Reports.GameMedalsGenerator.GameMedalsVm
@{
    Layout = null;
}
<h2>Results for @Model.GameName</h2>

@foreach (var year in Model.Medals.Select(x => x.Year).Distinct())
{
<h3>@year</h3>
    foreach (var eventName in Model.Medals.Where(x => x.Year == year).Select(x => x.EventName).Distinct())
    {
        <table style="border: 1px black solid; width: 400px; margin-left: 100px">
            <tr><td colspan="3">@eventName</td></tr>
        @foreach (var medal in Model.Medals.Where(x => x.EventName == eventName))
        {
            <tr><td>@medal.Medal</td><td>@medal.Name</td><td><img src="@medal.Flag" /></td></tr>
        }
            </table>
    }
}
    