@model IEnumerable<MSOCore.Reports.IndividualMedalTableGenerator.MedalTableVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .jmhTable {
        border: 1px black solid; 
        width: 400px; 
        margin-left: 100px
    }
    .jmhTable td {
        vertical-align: middle;
    }
    .jmhPaddedHeader {
        margin: 4px;
        display: block;
    }
    .jmhPadded {
        margin: 4px;
        display: block;
    }
</style>

<h1 class="entry-title">Individual All-Time Medal Table</h1>

<table class="jmhTable">
    <tr style="background: AliceBlue">
        <td><span class="jmhPaddedHeader">Rank</span></td>
        <td><span class="jmhPaddedHeader">Name</span></td>
        <td></td>
        <td><span class="jmhPaddedHeader">Gold</span></td>
        <td><span class="jmhPaddedHeader">Silver</span></td>
        <td><span class="jmhPaddedHeader">Bronze</span></td>
        <td><span class="jmhPaddedHeader">Total</span></td>
    </tr>
    @{ int index = 1; }
    @foreach (var item in Model)
    {    
    <tr>
        <td><div class="jmhPadded">@index</div></td>
        <td><div class="jmhPadded"><a href="/Report/ContestantMedals?contestantId=@item.ContestantId">@item.Name</a></div></td>
        <td><img class="jmhPadded" src="@item.Flag" alt="@item.Nationality" title="@item.Nationality"/></td>
        <td><div class="jmhPadded">@item.Golds</div></td>
        <td><div class="jmhPadded">@item.Silvers</div></td>
        <td><div class="jmhPadded">@item.Bronzes</div></td>
        <td><div class="jmhPadded">@item.Total</div></td>
    </tr>
        index++;
    }
</table>
