@model MSOCore.Reports.PentamindStandingsGenerator.PentamindStandingsReportVm
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    TempData["AutoRefresh"] = true;
}

<h1>Amateur Poker Championship Standings</h1>
<p>All standings are provisional until formally announced at the closing ceremony, 6pm Monday 31st. Any data errors <b>must</b> be reported by 3pm on the 31st to ensure correction</p>

@{ var i = 1; }

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td><span>Name</span></td>
            <td><span>Score</span></td>
            <td colspan="@Model.EventsNeeded"><span>Individual events</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopNStandings)
    {
        <tr>
            <th scope="row">@i</th>
            <td><img src="@item.Flag" title="@item.Nationality" height="20" style="margin-right: 4px" /><span>@item.Name</span></td>
            <td style="width: 100px;"><span>@item.TotalScoreStr</span></td>
            @for (var idx = 0; idx < Model.EventsNeeded; idx++)
            {
            <td style="font-size: small"><span>@item.ScoreStr(idx)</span></td>
            }
        </tr>

    i++;
}
    </tbody>
</table>

<h3>Top @Model.TopNRequired listed. Competitors need @Model.EventsNeeded events to qualify.</h3>
