@model MSOCore.Reports.PentamindStandingsGenerator.PentamindStandingsReportVm
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Amateur Poker Championship Standings</h1>

@{ var i = 1; }

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td><span>Name</span></td>
            <td><span>Score</span></td>
            <td colspan="4"><span>Individual events</span></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Standings.Take(40))
    {
        <tr>
            <th scope="row">@i</th>
            <td><span>@item.Name</span></td>
            <td style="width: 100px;"><span>@item.TotalScoreStr</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(0)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(1)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(2)</span></td>
            <td style="font-size: small"><span>@item.ScoreStr(3)</span></td>
        </tr>

    i++;
}
    </tbody>
</table>

<h3>Top 40 listed. Competitors need @Model.EventsNeeded events to qualify.</h3>
