@model MSOCore.Reports.TotalEventEntriesGenerator.TotalEventEntriesVm
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1 class="entry-title">Total number of entries per event</h1>
<p>@Model.LastLoadedCaption</p>

<table class="table">
    <thead>
        <tr>
            <td><b>Code</b></td>
            <td><b>Name</b></td>
            <td><b>Entries</b></td>
            <td><b>Download players</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td><span>@item.Code</span></td>
                <td><span>@item.Name</span></td>
                <td><span>@item.Entrants</span></td>
                <td>
                    @if (!item.IsMetaEvent)
                    {
                        <a class="btn btn-primary" href="/apiv1/multiplayereventcontestants?eventcode=@item.Code" role="button">Mike's draws</a>
                        <a class="btn btn-primary" href="/apiv1/swissperfecteventcontestants?eventcode=@item.Code" role="button">SwissPerfect</a>
                        <a class="btn btn-primary" href="/apiv1/plaineventcontestants?eventcode=@item.Code" role="button">CSV</a>
                    }
                </td>
            </tr>
        }
            <tr>
                <td><span><b>Total</b></span></td>
                <td><span><b> </b></span></td>
                <td><span><b>@Model.Events.Sum(e => e.Entrants)</b></span></td>
                <td></td>
            </tr>
    </tbody>
</table>
