@model MSOCore.Reports.YearMedalsGenerator.YearMedalsVm
@{
    Layout = "~/Views/Shared/_NewLayoutNoHeader.cshtml";
    TempData["AutoRefresh"] = true;
}

@foreach (var gameName in Model.Medals.Select(x => x.GameName).Distinct())
{
    <h2 class="entry-title">@gameName</h2>
    foreach (var eventName in Model.Medals.Where(x => x.GameName == gameName).Select(x => x.EventName).Distinct())
    {
        var eventCode = Model.Medals.Where(x => x.EventName == eventName).First().EventCode;
        <table class="table">
            <thead>
                <tr>
                    <td colspan="3"><a href="/Report/EventResults?year=@Model.Year&eventCode=@eventCode">@eventName</a></td>
                </tr>
            </thead>
        @foreach (var medal in Model.Medals.Where(x => x.EventName == eventName))
        {
            <tr>
                <td style="width:100px;">@Html.Raw(medal.Medals)</td>
                <td style="width:240px;">
                    <a href="./ContestantMedals?contestantId=@medal.ContestantId">@medal.Name</a></td>
                <td><img src="@medal.Flag" style="width: 52px"  alt="@medal.Nationality" title="@medal.Nationality"/></td>
            </tr>
        }
        </table>
        <p></p>
    }
}
    