@model MSOCore.Reports.YearMedalsGenerator.YearMedalsVm
@{
    Layout = null;
}
<h2>Results for @Model.Year</h2>

@foreach (var gameName in Model.Medals.Select(x => x.GameName).Distinct())
{
<h3>@gameName</h3>
    foreach (var eventName in Model.Medals.Where(x => x.GameName == gameName).Select(x => x.EventName).Distinct())
    {
        <table style="border: 1px black solid; width: 400px; margin-left: 100px">
            <tr><td colspan="3" style="background: AliceBlue">@eventName</td></tr>
        @foreach (var medal in Model.Medals.Where(x => x.EventName == eventName))
        {
            <tr><td>@medal.Medal</td><td>@medal.Name</td><td><img src="@medal.Flag"  alt="@medal.Nationality" title="@medal.Nationality"/></td></tr>
        }
            </table>
            <p></p>
    }
}
    