@model IEnumerable<MSOCore.Reports.GameListGenerator.GameVm>
@using System
@{
    Layout = "~/Views/Shared/_NewLayoutWithFooter.cshtml";
    ViewBag.Title = "Mind Sports Olympiad Live Results";
    System.Reflection.Assembly assembly = System.Reflection.Assembly.GetExecutingAssembly();
    System.IO.FileInfo fileInfo = new System.IO.FileInfo(assembly.Location);
    ViewBag.Version = assembly.GetName().Version;
    ViewBag.Date = fileInfo.LastWriteTime.ToString("dd MMM yyyy");
}

<div class="row">
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Registration</h5>
                <h6 class="card-subtitle mb-2 text-muted">Sign up for events online</h6>
                <p>Places are limited and events may be very popular - don't miss out.</p>
                <a href="https://mindsportsolympiad.com/" class="btn btn-primary">Register now!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Schedule</h5>
                <h6 class="card-subtitle mb-2 text-muted">What's coming up, when</h6>
                <p>Find out all the different games you could choose from.</p>
                <a href="/Schedule/Today" class="btn btn-primary">Today</a>
                <a href="/Schedule/Complete" class="btn btn-secondary">Full Schedule</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Events</h5>
                <h6 class="card-subtitle mb-2 text-muted">Live scores for single events</h6>
                <p>Scores will appear as soon as arbiters submit them.</p>
                <a href="/Report/EventResultsIndex" class="btn btn-primary">See the list</a>
                <a href="/Report/CountryMedals" class="btn btn-primary">Medal Table</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Grand Prix 2022</h5>
                <h6 class="card-subtitle mb-2 text-muted">Live scores for meta-events</h6>
                <ul>
                    <li><a href="/Report/GrandPrixStandings?header=true" class="card-link">Grand Prix</a></li>
                    <ul>
                        <li><a href="/Report/SeniorGrandPrixStandings?header=true" class="card-link">Seniors</a></li>
                        <li><a href="/Report/JuniorGrandPrixStandings?header=true" class="card-link">Juniors</a></li>
                        <li><a href="/Report/WomensGrandPrixStandings?header=true" class="card-link">Women</a></li>
                    </ul>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=chess" class="card-link">Chess</a></li>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=poker" class="card-link">Poker</a></li>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=backgammon" class="card-link">Backgammon</a></li>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=draughts" class="card-link">Draughts</a></li>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=multiplayer" class="card-link">Multiplayer</a></li>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=abstract" class="card-link">Abstract</a></li>
                    <li><a href="/Report/GPCategoryStandings?header=true&category=imperfectinfo" class="card-link">Imperfect Info</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">MSO 2022</h5>
                <h6 class="card-subtitle mb-2 text-muted">Live scores for meta-events</h6>
                <ul>
                    <li><a href="/Report/PentamindStandings?header=true" class="card-link">Pentamind</a></li>
                    <ul>
                        <li><a href="/Report/SeniorPentamindStandings?header=true" class="card-link">Seniors</a></li>
                        <li><a href="/Report/JuniorPentamindStandings?header=true" class="card-link">Juniors</a></li>
                        <li><a href="/Report/WomensPentamindStandings?header=true" class="card-link">Women</a></li>
                    </ul>
                    <li><a href="/Report/EurogamesStandings?header=true" class="card-link">Eurogames</a></li>
                    <li><a href="/Report/ModernAbstractStandings?header=true" class="card-link">Modern Abstract Games</a></li>
                    <li><a href="/Report/PokerStandings?header=true" class="card-link">Poker</a></li>
                    <li><a href="/Report/ChessStandings?header=true" class="card-link">Chess</a></li>
                    <li><a href="/Report/BackgammonStandings?header=true" class="card-link">Backgammon</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">All-time medals table</h5>
                <h6 class="card-subtitle mb-2 text-muted">The total medals haul for each individual</h6>
                <ul>
                    <li><a href="/Report/IndividualMedals?page=1" class="card-link">Top 100</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Past year's medals</h5>
                <h6 class="card-subtitle mb-2 text-muted">Winners in previous years</h6>
                <ul>
                    <!-- TODO : in 2022 there will be both GP and live - need an olympiad id -->
                    <li><a href="/Report/YearMedals?year=2021" class="card-link">2021</a></li>
                    <li><a href="/Report/YearMedals?year=2020" class="card-link">2020</a></li>
                    <li><a href="/Report/YearMedals?year=2019" class="card-link">2019</a></li>
                    <li><a href="/Report/YearMedals?year=2018" class="card-link">2018</a></li>
                    <li><a href="/Report/YearMedals?year=2017" class="card-link">2017</a></li>
                    <li><a href="/Report/YearMedals?year=2016" class="card-link">2016</a></li>
                    <li><a href="/Report/YearMedals?year=2015" class="card-link">2015</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">About MSO Online</h5>
                <h6 class="card-subtitle mb-2 text-muted">Pull requests always welcome</h6>
                <ul>
                    <li><a href="http://github.com/JuliaHayward/MSOOrganiser" class="card-link">Github</a></li>
                    <li><a href="/Home/ReleaseNotes" class="card-link">Release Notes</a></li>
                    <li><a href="http://twitter.com/Julia_Hayward" class="card-link">The Author</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
{
<div class="row">
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Reports</h5>
                <ul>
                    <li><a href="/Report/Nationality" class="card-link">Contestants, by nation</a></li>
                    <li><a href="/Report/TotalEventEntries" class="card-link">Entries per Event</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Download Entrants (Arbiter/Admin only)</h5>
                <ul>
                    <li><a href="/Home/Downloads" class="card-link">Downloads</a></li>
                </ul>
            </div>
        </div>
    </div>
    @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Superadmin"))
    {
        <div class="col-sm-3">
            <div class="card mt-1">
                <div class="card-body">
                    <h5 class="card-title">Upload orders (Admin only)</h5>
                    <ul>
                        <li><a href="/Upload" class="card-link">Upload</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Superadmin"))
    {
        <div class="col-sm-3">
            <div class="card mt-1">
                <div class="card-body">
                    <h5 class="card-title">Edit (Admin only)</h5>
                    <ul>
                        <li><a href="/Olympiad/CurrentOlympiad" class="card-link">Edit data</a></li>
                        <li><a href="/Report/ClearPentamindStandingsCache" class="card-link">Recalculate Pentamind</a></li>
                        <li><a href="/Report/RecalculateSeedings" class="card-link">Recalculate Seedings</a></li>
                        <li><a href="/Report/RecalculateElos" class="card-link">Recalculate ELOs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
}
<div class="row">
    <div class="col-sm-12">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">All MSO Events</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Years</th>
                            <th scope="col"></th>
                            <th scope="col">Play online</th>
                            <th scope="col">More links</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var game in Model.Where(g => g.Code != "ZZ" && g.Code != "EE" && g.Code != "LP"))
                        {
                        <tr>
                            <td>@game.Name</td>
                            <td>@game.Years</td>
                            <td><a href="/Report/GameMedals?gameCode=@game.Code">Past Medals</a></td>
                            <td>
                                @if (!string.IsNullOrEmpty(game.OnlineSiteName))
                                {<a href="@game.OnlineSiteUrl">@game.OnlineSiteName</a>}
                            </td>
                            <td>@if (!string.IsNullOrEmpty(game.FindOutMoreLink))
                            {<a href="@game.FindOutMoreLink">Find out more</a>}
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



    @*<h2>Event Statistics</h2>

        <ul>

            <li><a href="/Report/EventEntries?eventCode=BARP">Entries : BARP</a></li>
        </ul>*@


@section footer {
    <footer class="footer">
        <div class="container">
            <span class="text-muted">MSO Live Results @ViewBag.Version, last updated @ViewBag.Date - see <a href="/Home/ReleaseNotes">release notes</a></span>
        </div>
    </footer>
}
