@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Julia Hayward">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/Content/favicon.ico">
    <!-- Bootstrap 4 styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/Content/Styles/Global.css" rel="stylesheet">
    <style type="text/css" id="custom-background-css">
        body {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body class="">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MSO Online Results</a>
        @if (string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
        {
            <button class="btn btn-outline-success my-2 my-sm-0" id="adminLogin">Admin login</button>
        }
        else
        {
            <button class="btn btn-success my-2 my-sm-0" id="adminLogout">@HttpContext.Current.User.Identity.Name (logout)</button>
        }
    </nav>
    @if (TempData["SuccessMessage"] != null) // also alert-info alert-warning alert-danger
    {
        <div id="bannerSuccess" class="alert alert-success">
            <strong>Success!</strong> @TempData["SuccessMessage"].ToString()
        </div>
    }
    @if (TempData["FailureMessage"] != null) // also alert-info alert-warning alert-danger
    {
        <div id="bannerSuccess" class="alert alert-danger">
            <strong>Error!</strong> @TempData["FailureMessage"].ToString()
        </div>
    }
    <div id="page" class="container">
        @RenderBody()
    </div>
    <!-- Bootstrap 4 scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/Scripts/navbar.js"></script>
</body>
</html>
