@model MSOCore.ApiLogic.ContestantsLogic.ContestantVm
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2></h2>
@using (Html.BeginForm("Contestant", "Contestant", FormMethod.Post))
{
    <input type="hidden" name="Id" id="Id" value="@Model.ContestantId" />
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2>@Model.FullName<img style="float: right" src="~/Content/Images/Flags/@(Model.Nationality).jpg" title="@(Model.Nationality)" height="40" /></h2>   
                <h2 class="mb-0">
                    @if (Model.IsEditable)
                    {
                        <button class="btn btn-primary" type="submit">
                            Save
                        </button>
                        <button class="btn btn-primary" type="button">
                            Cancel
                        </button>
                    }
                </h2>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Personal details
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label for="Title">Title</label>
                            <select class="form-control" name="Title" id="Title">
                                <option value="">-</option>
                                <option selected="@(Model.Title == "Mr")">Mr</option>
                                <option selected="@(Model.Title == "Mrs")">Mrs</option>
                                <option selected="@(Model.Title == "Ms")">Ms</option>
                                <option selected="@(Model.Title == "Master")">Master</option>
                                <option selected="@(Model.Title == "Miss")">Miss</option>
                                <option selected="@(Model.Title == "Dr")">Dr</option>
                                <option selected="@(Model.Title == "Prof")">Prof</option>
                                <option selected="@(Model.Title == "Sir")">Sir</option>
                                <option selected="@(Model.Title == "Lady")">Lady</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Firstname">First name (s)</label>
                            <input type="text" class="form-control" name="Firstname" id="Firstname" placeholder="First names" value="@Model.Firstname">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="Initials">Initials</label>
                            <input type="text" class="form-control" name="Initials" id="Initials" placeholder="Initials" value="@Model.Initials">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Lastname">Last name</label>
                            <input type="text" class="form-control" name="Lastname" id="Lastname" placeholder="Last name" value="@Model.Lastname">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Gender">Gender</label>
                            <select class="form-control" name="Gender" id="Gender">
                                <option selected="@(Model.IsMale)">Male</option>
                                <option selected="@(Model.IsFemale)">Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="DoB">Date of Birth</label>
                            <input type="text" class="form-control" name="DateOfBirth" id="DateOfBirth" placeholder="dd/mm/yyyy" value="@Model.DisplayDateOfBirth">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nationality">Nationality</label>
                        <select class="form-control" name="Nationality" id="Nationality">
                            <option selected="@(string.IsNullOrEmpty(Model.Nationality))" value="">(none)</option>
                            @foreach (string n in Model.Nationalities)
                            {
                                <option selected="@(n == Model.Nationality)">@n</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="BgaNickname">BGA nickname</label>
                        <input type="text" class="form-control" name="BgaNickname" id="BgaNickname" value="@Model.BgaNickname">
                    </div>
                    <div class="form-group">
                        <label for="OnlineNicknames">Other online nicknames</label>
                        <input type="text" class="form-control" name="OnlineNicknames" id="OnlineNicknames" value="@Model.OnlineNicknames">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Organisations
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Events and Payments
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Fee</th>
                                <th scope="col">Partner</th>
                                <th scope="col">Medal</th>
                                <th scope="col">Junior Medal</th>
                                <th scope="col">Rank</th>
                                <th scope="col">Pentamind</th>
                                <th scope="col">Absent</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.Events)
                            {
                            <tr>
                                <td>@c.Code</td>
                                <td><a href="/Olympiad/Event/@c.EventId">@c.Name</a></td>
                                <td>@c.FeeString</td>
                                <td>@c.Partner</td>
                                <td><span class="btn @c.MedalStyle" style="width:72px;">@c.Medal</span></td>
                                <td><span class="btn @c.JuniorMedalStyle" style="width:72px;">@c.JuniorMedal.Replace(" JNR", "")</span></td>
                                <td>@c.RankString</td>
                                <td>@c.PentaString</td>
                                <td>@c.AbsentString</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Other
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Notes">Notes</label>
                        <input type="text" class="form-control" name="Notes" id="Notes" value="@Model.Notes">
                    </div>
                </div>
            </div>
        </div>
    </div>
}